<?xml version="1.0" ?>

<launch>

<include file="$(env PWD)/LAB_Survey_2.launch" />

<node name="leaf_odom_to_root" pkg="amock_tools" type="leaf_odom_to_root">
	<param name="base_frame" value="base_link" />
	<param name="odom_frame_leaf" value="world" />
	<param name="odom_frame" value="odom" />
</node>

# RMCL
# visualize map

<arg name="mesh_file" default="$(env PWD)/LAB_Survey_2_meshes/LAB_Survey_2_gt_shc_r04.ply" />
<arg name="mesh_to_map_transform" default="[-0.454676, 1.64676, 1.40285, -0.156197, -0.138185, 0.705474, 0.677358]" />
<arg name="initial_guess" default="[0.0303225, 1.69015, 1.73387, 3.13144, 0.00991235, 1.59951]" />

<node pkg="rmagine_ros" type="mesh_publisher" name="mesh_publisher" output="screen">
    <param name="file" type="string" value="$(arg mesh_file)" />
    <param name="frame" type="string" value="map" />
    <param name="publish_freq" value="0.1" />
    <rosparam param="pre_transform" subst_value="True">$(arg mesh_to_map_transform)</rosparam>
</node>

# run registration
<node pkg="rmcl" type="micp_hilti" name="micp_hilti" output="screen">
    <param name="mesh_file" type="string" value="$(arg mesh_file)" />
    <rosparam param="mesh_to_map_transform" subst_value="True">$(arg mesh_to_map_transform)</rosparam>
    <rosparam param="initial_guess" subst_value="True">$(arg initial_guess)</rosparam>
    
    <param name="disable_registration" value="true" />
    <param name="generate_evaluation" value="true" />

    <param name="iterations" value="20" />
</node>

<node pkg="rviz" type="rviz" name="rviz" args="-d $(env PWD)/LAB_Survey_2.rviz"/>

</launch>
